
body{
    background-color: rgb(12, 2, 49);
    font-family: "Poppins", sans-serif;
}
#component{
    background-color: aliceblue;
    padding: 2rem 4rem 2rem 2rem;
    border-radius: 20px;
    margin: 3rem 2rem;
    box-shadow: 5px 5px 5px black;
}
@media only screen and (max-width: 600px) {
    #component{
        padding:2rem;
    } 
}
